doctype html
head
  meta(charset='utf-8')
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  title Home - Kawempe National Referral Hospital
  meta(content='' name='description')
  meta(content='' name='keywords')

  link(href='/img/favicon.png' rel='icon')
  link(href='/img/apple-touch-icon.png' rel='apple-touch-icon')

  link(href='https://fonts.gstatic.com' rel='preconnect')
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i' rel='stylesheet')

  link(href='/bootstrap/bootstrap-icons/bootstrap-icons.css' rel='stylesheet')
  link(rel='stylesheet' href='/bootstrap/css/bootstrap.css')
  link(rel='stylesheet' href='/css/public-views.css')

header.header
  div 
    a(href='/')
      img(src='/img/logo.png' alt='logo')
  div 
    a.button(href='/login') Login

main.home
  div#welcome-msg.calling-card(style="display: block;")
    h2.local-message Tusanyuse okukulaba, kwata kodiyo olindeko tukuyite
    h2 (Welcome, please get a code and wait to be called)
  // Notification section for called patients
  div#call-notification.calling-card.text-center(style="display: none;")
  audio#call-sound(src='/sounds/notification.mp3' preload='auto' style='display:none')

div#notification-container

footer.footer
  | &copy; 2025
  strong
    span Kawempe National Referral Hospital
  | . All Rights Reserved

script(src='/js/main.js')
script(src="/socket.io/socket.io.js")
script(src='/js/notifications.js')

script.
  const socket = io();

  // Listen for patient call notifications
  socket.on('patientCalled', (data) => {
    const welcomeContainer = document.getElementById('welcome-msg');
    const notificationContainer = document.getElementById('call-notification');

    notificationContainer.innerHTML =`
      <h3 class="local-message"> <i class="bi bi-megaphone"></i> ${data.localMessage}</h3> 
      <h3>(${data.message})</h3>`
    notificationContainer.style.display = 'block';
    welcomeContainer.style.display = 'none';

    const audio = document.getElementById('call-sound');
    audio.play().catch(console.warn);

    // Auto-hide after 1 minute
    setTimeout(() => {
      notificationContainer.style.display = 'none';
      welcomeContainer.style.display = 'block';
    }, 60000);
  });
