extends admin-layout.pug

block scripts
  script.
    // Embed the users data from the server into a JavaScript variable
    const allUsers = !{JSON.stringify(users)};
  script(src='/js/tables/administrator/user.js')

block content
  .pagetitle
    .d-flex.justify-content-between.align-items-center
      div
        h1 All Users
        nav
          ol.breadcrumb
            li.breadcrumb-item
              a(href='/dashboard') Dashboard
            li.breadcrumb-item.active Users List
  .table-container
    .controls
      .searchInput
        input#searchInput(type='text' placeholder='search users by name or email address...')
      div
        select#entriesPerPage
          option(value='5') 5 Entries
          option(value='10') 10 Entries
          option(value='15') 15 Entries
          option(value='20') 20 Entries
    .data-table   
      table#dataTable
        thead
          tr
            th Image
            th User Name
            th Role
            th Phone Number
            th Email
            th Actions
        tbody

    p#noResultsMessage(style='display:none;') No results found.
    #pagination

  .modal#deleteModal
    .modal-dialog
      .modal-content
        .mdl-body
          h5 Confirm Deletion!
          p Are you sure you want to delete this user?
        .mdl-footer
          button(type='button' class='action-btn view-btn' id='cancelDelete') Cancel
          button(type='button' class='action-btn del-btn' id='confirmDelete') Delete
